$spaceamounts: (
  auto,
  0,
  1,
  2,
  3,
  4,
  5,
  7,
  9,
  10,
  12,
  14,
  16,
  18,
  19,
  20,
  24,
  25,
  30,
  35,
  40,
  45,
  50,
  60,
  70,
  100
);

// margin
@each $spaceamount in $spaceamounts {
  .margin-#{$spaceamount} {
    margin: #{$spaceamount}em;
  }
}
@each $spaceamount in $spaceamounts {
  .marginTop-#{$spaceamount} {
    margin-top: #{$spaceamount}em;
  }
}
@each $spaceamount in $spaceamounts {
  .marginRight-#{$spaceamount} {
    margin-right: #{$spaceamount}em;
  }
}
@each $spaceamount in $spaceamounts {
  .marginBottom-#{$spaceamount} {
    margin-bottom: #{$spaceamount}em;
  }
}
@each $spaceamount in $spaceamounts {
  .marginLeft-#{$spaceamount} {
    margin-left: #{$spaceamount}em;
  }
}

// padding
@each $spaceamount in $spaceamounts {
  .p-#{$spaceamount} {
    padding: #{$spaceamount}em;
  }
}
@each $spaceamount in $spaceamounts {
  .paddingTop-#{$spaceamount} {
    padding-top: #{$spaceamount}em;
  }
}
@each $spaceamount in $spaceamounts {
  .paddingRight-#{$spaceamount} {
    padding-right: #{$spaceamount}em;
  }
}
@each $spaceamount in $spaceamounts {
  .pb-#{$spaceamount} {
    padding-bottom: #{$spaceamount}em;
  }
}
@each $spaceamount in $spaceamounts {
  .pl-#{$spaceamount} {
    padding-left: #{$spaceamount}em;
  }
}

// height

@each $spaceamount in $spaceamounts {
  .h-#{$spaceamount} {
    height: #{$spaceamount}em;
  }
}

// width
@each $spaceamount in $spaceamounts {
  .width-#{$spaceamount} {
    width: #{$spaceamount}em;
  }
}

@each $spaceamount in $spaceamounts {
  .margin-#{$spaceamount}-auto {
    margin: $spaceamount auto;
  }
}

.hp-100 {
  height: 100%;
}

.m-auto {
  margin: 0 auto !important;
}
